*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bodyContainer{
  width: 100%;
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 40rem;
}
.formContainer{
  width: 100%;
  margin-top: 2rem;
  display: flex;
justify-content: center;
margin-bottom: 3rem;

}
.form{
  min-width: 30%;
}

.postCard{
  margin: 2rem;
}
.tags{
  margin: 0 0.2rem 0 0.2rem;
}
.reaction{
  margin: 1rem 0 0 0;
}
.delete:hover{
  cursor: pointer;
}
.wlcm{
  margin-top: 5rem;
}
.spinnercss{
  margin-top: 15rem;
  margin-left: 50%;
}